---
layout: post
---
<h3 id="metadata">Metadata</h3>
<table>
    <thead>
        <tr>
            <td><strong>Name</strong></td>
            <td>{{ page.name }}</td>
        </tr>
    </thead>
    <tbody>

    <tr>
        <td><strong>Type</strong></td>
        <td>{{ page.type }}</td>
    </tr>

    <tr>
        <td><strong>Group</strong></td>
        <td>{{ page.group }}</td>
    </tr>
    
    <tr>
        <td><strong>Data Sources</strong></td>
        <td>{{ page.data_sources }}</td>
    </tr>
    
    <tr>
        <td><strong>Clinical Terminologies</strong></td>
        <td>{{ page.clinical_terminologies }}</td>
    </tr>

    <tr>
        <td><strong>Primary Care Code Lists</strong></td>
        <td>
            <a href="{{ page.primary_care_code_lists }}">{{ page.primary_care_code_lists | remove_first: "/primary_care/" }}</a>           
        </td>
    </tr>
    
    <tr>
        <td><strong>Secondary Care Code Lists</strong></td>
        <td>
            <a href="{{ page.secondary_care_code_lists }}">{{ page.secondary_care_code_lists | remove_first: "/secondary_care/" }}</a>           
        </td>
    </tr>
    
    <!-- <tr>
        <td><strong>Death Code Lists</strong></td>
        {% assign death_code_list = page.death_code_lists | split: ", " %}
        <td>{% for code_list in death_code_list %}
            <a href="{{ code_list }}">{{ code_list | remove_first: "/death/" }}</a>
            {%- if forloop.last == false %}, {% endif -%}
            {% endfor %}
        </td>
    </tr> -->
    
    <tr>
        <td><strong>Validation</strong></td>
        <td>{{ page.validation }}</td>
    </tr>
    
    <tr>
        <td><strong>Valid Event Data Range</strong></td>
        <td>{{ page.valid_event_data_range }}</td>
    </tr>
    
    <tr>
        <td><strong>Sex</strong></td>
        <td>{{ page.sex }}</td>
    </tr>
    
    <tr>
        <td><strong>Authors</strong></td>
        <td>{{ page.author }}</td>
    </tr>
    {%- assign date_format = site.minima.date_format | default: "%-d %b %Y" -%}
    
    <tr>
        <td><strong>Agreement Date</strong></td>
        <td>{{ page.date | date: date_format }}</td>
    </tr>
    
    <tr>
        <td><strong>Version (UUID)</strong></td>
        <td>{{ page.version }} ({{ page.phenotype_id }})</td>
    </tr>
    
</tbody>
</table>
<hr>
{{ content }}